Language: Cpp

BasedOnStyle: Microsoft
IndentWidth: 4
NamespaceIndentation: All
FixNamespaceComments: false

PointerAlignment: Left
ReferenceAlignment: Left

AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseLabels: false
IndentCaseBlocks: true
SpaceAfterTemplateKeyword: true
SpaceBeforeRangeBasedForLoopColon: true
SpacesInParentheses: true
